@font-face {
    font-family: "Montserrat Regular";
    src: url("../assets/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Protest Riot Regular";
    src: url("../assets/ProtestRiot-Regular.ttf");
}

@font-face {
    font-family: "Montserrat SemiBold";
    src: url("../assets/Montserrat-SemiBold.ttf");
}

.body {
    font-family: 'Montserrat Regular';
}

.container {
    position: relative;
    width: 100%;
}

#overlay {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(252, 252, 252, 0.9); /* Color transparente */
    z-index: 1; /* Coloca el overlay encima del mapa */
}

.navbar {
    background-color: #0088ff;
    
}

.navbar-text a{
    background-color:#f9ec00;
    border-radius: 10px;
    padding: 1px 4px 1px 4px;
}

.bottom-image {
    position: fixed;
    z-index: -5;
}

.bottom-image img{
    height: 100vh
}

.logo {
    width: 200px;
}

.col {
    width: 80%;
}

.titulo {
    font-family: "Protest Riot Regular";
    font-size: 40px;
    color: #0088ff;
 }
 
 #subtitulo{
    font-family: Montserrat SemiBold;
 }

.form-control:focus, .form-check-input:focus{
    border-color: #f9ec00;
    box-shadow: 0 0 0 0.25rem rgba(226, 230, 28, 0.25);
}

.form-check-input:checked{
    background-color: #f9ec00;
    border-color: #f9ec00;
}